@page
@model IndexModel
@{
    ViewData["Title"] = "Agenda de Compromissos";
}

<div class="text-center">
    <h1 class="display-4">Agenda de Compromissos</h1>
    <p><a asp-page="/Compromissos/Index" class="btn btn-primary">Ver Compromissos</a></p>
</div>
